# Exploratory Data Analysis

Closer look on the biggest available datasets about New York's taxis rides.

In [8]:
# Frameworks
import pandas as pd
import numpy as np

### Overall information about dataset

In [ ]:
df = pd.read_parquet(r'C:\Users\wikto\OneDrive\Dokumenty\AA_projects\road-optimization\data\yellow_tripdata_2025-01.parquet')


# DataFrame shape
print("-" * 30)
print(f"Dataframe shape: {df.shape}")

# All features
print("-" * 30)
print(f"All features: {df.columns}")

# Number of NaN's
print("-" * 30)
print(f"Number of NaN's: {df.isna().sum()}")

------------------------------
Dataframe shape: (3475226, 20)
------------------------------
All features: Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee',
       'cbd_congestion_fee'],
      dtype='object')
------------------------------
Number of NaN's: VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count          540149
trip_distance                 0
RatecodeID               540149
store_and_fwd_flag       540149
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge     540149
Airport_fee              540149
cbd_congestion_fee            0
dtype: int64

### Columns (features)


| Feature | What information does it provide |
| :--- | :--- |
| **VendorID** | Kod dostawcy (1=CMT, 2=VeriFone) |
| **tpep_pickup_datetime** | Czas włączenia taksometru |
| **tpep_dropoff_datetime** | Czas wyłączenia taksometru |
| **passenger_count** | Liczba pasażerów |
| **trip_distance** | Dystans podróży w milach |
| **RatecodeID** | Kod taryfy (1=Standard, 2=JFK, 3=Newark, 5=Negocjowana) |
| **store_and_fwd_flag** | Czy rekord był zapisany w pamięci (Y/N) |
| **PULocationID** | Strefa rozpoczęcia kursu |
| **DOLocationID** | Strefa zakończenia kursu |
| **payment_type** | Płatność (1=Karta, 2=Gotówka, 3=Brak, 4=Spór) |
| **fare_amount** | Opłata taryfowa |
| **extra** | Dodatki (godziny szczytu / nocne) |
| **mta_tax** | Podatek MTA (0.50$) |
| **tip_amount** | Napiwek (tylko płatności kartą) |
| **tolls_amount** | Opłaty drogowe (mosty, tunele) |
| **improvement_surcharge** | Opłata modernizacyjna (0.30$) |
| **total_amount** | Suma całkowita (bez napiwków gotówkowych) |
| **congestion_surcharge** | Opłata za korki |
| **Airport_fee** | Opłata lotniskowa ($1.25) |
| **cbd_congestion_fee** | Opłata za wjazd do centrum (Manhattan) |

Potential columns that are important for our optimatization route model:
tpep_pickup_datetime, tpep_dropoff_datetime, trip_distance, RateCodeID, PULocationID, DOLocationID,
fare_amount, extra, tolls_amount, congestion_surcharge, airport_fee, cbd_congestion_fee


fare_amount - > koszt za przejechanie mili + czas spędzony w ruchu

### trip_distance column analysis

In [10]:
# Checking what unit trip_distance has
df['trip_distance'].head()  # --> CHANGE: mils to km's

0    1.60
1    0.50
2    0.60
3    0.52
4    0.66
Name: trip_distance, dtype: float64

### fare_amount column analysis

In [11]:

# Is there negative values in fare_amount -> ujemne fare_amount może znaczyć, że przejazd był fałszywy - 
# np. kierowca zapomniał wyłączyć licznika
print((df['fare_amount'] < 0).value_counts()) # --> CHECK or DELETE negative columns

fare_amount
False    3331108
True      144118
Name: count, dtype: int64

### tpep_pickup_datetime and tpep_dropoff_datetime (time difference) columns analysis

In [ ]:
# Mean of time difference between pick up and drop off
df['difference'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
mean_diff = df['difference'].mean()
print(f'Mean of time difference: {mean_diff}')
# Std of time difference
std_diff = df['difference'].std()
print(f'Std of time difference: {std_diff}')


# Errors in difference - travel time can't be negative
df['difference'] = df['difference'].astype(np.int64)
(df['difference'] < 0).value_counts()

Mean of time difference: 0 days 00:15:01.086937
Std of time difference: 0 days 00:38:42.814931
int64

difference
False    3475102
True         124
Name: count, dtype: int64

### extra column analysis

In [ ]:
df['extra'].isna().value_counts() # No NaN in 'extra' 

(df['extra'] < 0).value_counts() # Negative values = probabbly an error

extra
False    3445630
True       29596
Name: count, dtype: int64